<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
  <div id="main" class="w-full relative h-screen bg-zinc-100">
    <div id="nav" class="w-full flex items-center justify-between  h-[13vh] border-2 border-b-zinc-700 py-4 px-10 pb-5">
        <div class="flex items-center">
            <h3 class="text-2xl text-black font-semibold">Admin Panel.</h3>
        </div>
        <div class="px-3 flex gap-20 text-black font-semibold">
            <div class="flex gap-5">
                <a href="">Home</a>
                <a href="">Products</a>
            </div>
            <div class="flex gap-5">
                <a href="">Cart</a>
                <a href="">My Account</a>
            </div>
        </div>
    </div>
    <div id="side-plus-center" class="flex w-full h-[87vh]">
        <div id="sidebar" class="w-[18%] p-10">
            <div id="selection-container" class="flex flex-col font-medium text-zinc-400 gap-52">
                <div>

                    <h3>All Products</h3>
                    <h3 class="text-black mt-3">Create New Products</h3>
                </div>
            </div>
        </div>

        <div class="py-12 w-[82%] text-2xl font-semibold">
            <h2>Create New Product</h2>
            <hr class="border-[1px] border-zinc-400 my-4">
            <form action="" method="post" class="text-sm flex flex-col gap-20"  enctype="multipart/form-data">
                <div id="top-part" class="flex flex-col gap-4 w-[40%]">
                    <h1 class="text-xl">Product Details</h1>
                <div class="flex items-center gap-6">
                    <h2>Product Image</h2>
                    <h2 class="px-4 py-2 bg-blue-500 text-white rounded-full cursor-pointer">Select file</h2>
                </div>
                <input type="text" class="px-5 py-3 text-md bg-zinc-200 text-zinc-500 outline-none rounded-md " placeholder="Product Name" name="productName">
                <div class="flex gap-4">
                    <input type="number" class="px-5 py-3 text-md bg-zinc-200 text-zinc-500 outline-none rounded-md " placeholder="Product Price" name="productPrice">
                    <input type="number" class="px-5 py-3 text-md bg-zinc-200 text-zinc-500 outline-none rounded-md " placeholder="Discount Price" name="discountPrice">
                </div>
                </div>
                <div id="bottom-part" class="flex flex-col gap-4 w-[40%]">
                    <h1 class="text-xl">Panel Details</h1>
                    <div class="flex gap-4">
                        <input type="text" class="px-5 py-3 text-md bg-zinc-200 text-zinc-500 outline-none rounded-md " placeholder="Background Color" name="backgroundColor">
                        <input type="text" class="px-5 py-3 text-md bg-zinc-200 text-zinc-500 outline-none rounded-md " placeholder="Panel Color" name="panelColor">
                    </div>
                    <input type="text" class="px-5 py-3 w-[42%] text-md bg-zinc-200 text-zinc-500 outline-none rounded-md " placeholder="Text Color" name="textColor">
                    <input type="submit" class="px-3 py-2 bg-red-500 rounded-full my-4 cursor-pointer text-white" value="Submit">
                </div>
            </form>

        </div>
            
        </div>
    </div>
  </div>
</body>
</html>