<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
  <div id="main" class="w-full relative h-screen bg-zinc-100">
    <div id="nav" class="w-full flex items-center justify-between  h-[13vh] border-2 border-b-zinc-700 py-4 px-10 pb-5">
        <div class="flex items-center">
            <h3 class="text-2xl text-black font-semibold">Shop.</h3>
        </div>
        <div class="px-3 flex gap-20 text-black font-semibold">
            <div class="flex gap-5">
                <a href="">Home</a>
                <a href="">Products</a>
            </div>
            <div class="flex gap-5">
                <a href="">Cart</a>
                <a href="">My Account</a>
            </div>
        </div>
    </div>
    <div id="side-plus-center" class="flex w-full h-[87vh]">
        <div id="sidebar" class="w-[18%] p-5 px-10">
            <h3 class="mb-10 font-normal">Sort by: <select class="font-semibold" name="selection" id="" class="bg-transparent">
                <option value="popular">Popular</option>
            </select></h3>
            <div id="selection-container" class="flex flex-col font-medium text-zinc-400 gap-52">
                <div>
                    <h3>New Collections</h3>
                    <h3 class="text-black">All Products</h3>
                    <h3>Discounted Products</h3>
                </div>
                <div>
                    <h3 class="text-black">Filter by:</h3>
                    <h3 class="text-black">Availibility</h3>
                    <h3>Discounts</h3>
                </div>
            </div>
        </div>
        <div id="items" class="w-[82%] flex gap-10 flex-wrap overflow-x-hidden overflow-y-auto py-5 px-20">
            <div id="item" class="w-60 h-72">
                <div class="w-full h-[75%] p-4 bg-blue-100 flex items-center justify-center">
                    <img src="../images/bag.png" class="w-full h-full object-contain" alt="">
                </div>
                <div class="w-full p-4 h-[25%] bg-blue-300 flex items-center justify-between">
                    <div class="font-semibold text-blue-800">
                        <h3>Clinge Bag</h3>
                        <h3>&#8377 1200</h3>
                    </div>
                    <div class="w-9 h-9 bg-white rounded-full flex justify-center items-center"><i class="ri-add-large-line font-medium"></i></div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
</body>
</html>